.single-team-member{
    width:31%;
    margin:5px;
    float:left;
}
.single-team-member img{
    width:100%;
 }
.body{
    background-color: aliceblue;
}
h1{
    text-align:center;
}
h2{
    text-align:center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}